* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--selection-color: #ffa80030;
}

::selection {
	background: var(--selection-color);
}


/* Keeping for future use */

/* .services-css {
	background-image:    radial-gradient(
 circle 20vw at 91.6% 35%,
 rgb(53, 178, 255, 0.25) 0.2%,
 #ffffff00 100.2%
 ), radial-gradient(
 circle 30vw at 16.6% 55%,
 rgb(255, 53, 184, 0.1) 0.2%,
 #fff 100.2%
 )
 } */